VITE_SUPABASE_URL=https://tfzevgsjdrrzcqmpabwe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRmemV2Z3NqZHJyemNxbXBhYndlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2NzY3NzIsImV4cCI6MjA5MzI1Mjc3Mn0.IE5JYQE5Raf98W4hplhvkJfsmfFVsowugfZApwjgJuo
